@using BookSource.Models.ViewModel
@model UserViewModel

@{
    ViewData["Title"] = "Follower";


    // ListOfBooksViewModel? showList = null;
}

<style>
    .userLayout {
        display: grid;
        grid-template-areas: "sidebar body";
        grid-template-columns: 1fr 3fr;
        gap: 16px;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
        background: rgba(237, 231, 224, 0.9);
        border-radius: 15px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        border: 2px solid rgba(189, 152, 120, 0.8);
    }

    .userSidebar, .userBody {
        color: black;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #d7ccc8;
    }

    .userSidebar {
        text-align: center;
    }

    h1, h2, p, ul li {
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        border-bottom: 2px solid #d7ccc8;
        display: inline-block;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
        text-align: justify;
    }

    ul {
        padding-left: 30px;
        list-style-type: square;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .follower-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #d7ccc8;
        border-radius: 8px;
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .follower-item img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .follower-item .follower-name {
            font-size: 16px;
            font-weight: bold;
        }
</style>

<div class="userLayout">
    <div class="userSidebar">
        <h1>Seguidores</h1>
        @if (Model.FollowerList != null && Model.FollowerList.Any())
        {
            <ul>
                @foreach (var follower in Model.FollowerList)
                {
                    <li class="follower-item">
                        <img src="@follower.ProfileImageUrl" alt="@follower.UserName" />
                        <div class="follower-name">@follower.UserName</div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Este usuario no tiene seguidores.</p>
        }
    </div>
    <div class="userBody">
        <h1>@Model.UserName</h1>
        <h2>@Model.Email</h2>
        <p>@(Model.Birthdate.HasValue ? Model.Birthdate.Value.ToString("dd/MM/yyyy") : "Fecha de nacimiento no establecida")</p>
    </div>
</div>
