@using BookSource.Models.ViewModel
@using BookSource.Tools
@*
This view show a list of books and redirect to them.
*@
@{
    @model List<BookViewModel>
}
<link rel="stylesheet" href="~/css/bookList.css" asp-append-version="true" />

        @if (Model==null)
        {
            <div class="col">No se ha recibido ningun libro al componente</div>
        }
        else
        {
            <div class="cards-container">
            @foreach (BookViewModel book in Model)
            {
                <div class="book-card">
                        <img src=@(book.ImageLink??Tools.DefaultBookImg) alt="Book Image">
                    <div class="card-content">
                        @if(book.Title.Length > 20){
                        <h3 class="card-title">@book.Title.Substring(0, 20)</h3>
                        }
                        else
                        {
                        <h3 class="card-title">@book.Title</h3>

                        }
                    @if (!string.IsNullOrEmpty(book.SubTitle))
                    {
                        if (book.SubTitle.Length > 30)
                        {
                            <h4 class="card-subtitle">@book.SubTitle.Substring(0,30)</h4>
                        }
                        else
                        {
                            <h4 class="card-subtitle">@book.SubTitle</h4>

                        }
                    }
                        @*<p class="card-description">@(book.Description??"This book don't have description")</p>*@
                        <div class="card-details">
                            @*<span><strong>Editorial:</strong> @book.Editorial</span>
                            <span><strong>Páginas:</strong> @book.PageCount</span>
                            <span><strong>Score:</strong> @book.Score.ToString()</span>*@
                        @if (book.Author.Length > 20)
                        {
                            <span><strong>Autor:</strong> @book.Author.Substring(0,20)</span>
                        }
                        else
                        {
                            <span><strong>Autor:</strong> @book.Author</span>
                        }
                    </div>
                    </div>
                    <div class="card-footer">
                        <div class="categories">
                            @foreach (CategoryViewModel category in book.Categories)
                                {
                                    <span class="category">@category.Category</span>
                                }
                        </div>

                        <a asp-controller="Book" asp-action="BookInfo" class="btn">Leer más</a>
                       
                    </div>
                </div>
            }
            </div>
        }