@using BookSource.Models.ViewModel
@model (List<ListOfBooksViewModel>ListOfBooks,int idBook)
@{
    bool Exist(ListOfBooksViewModel list)
    {
        if (list.Books == null)
            return false;

        if (list.Books.Where(x => x.IdBook==Model.idBook).Any())
            return true;

        return false;
    }
}
<style>
    .popup {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        color:black;
    }

    .popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        width: 300px;
        text-align: center;
    }

    .popup-body{
        text-align:left;
    }
    .popup-header {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1em;
        cursor: pointer;
    }
</style>
<script>
    function AddNewListOfBooks() { 
        $.ajax({
            url: '@Url.Action("GetAddUserListOfBooksPartialView", "ListOfBooks")',
            type: 'GET',
            success: function (data) {
                document.getElementById('partialContainer').style.display = 'flex';
                $('#partialContainer').html(data);
            },
            error: function () {
                alert('Hubo un error al ejecutar la función.');
            }

        })
    }
    function HidePartial() {
        document.getElementById('ViewPartial').style.display = 'none';
    }
    function ActionPartial(IdList,Selected) {
        if (IdList == null) 
        {
            return;
        }

        if (Selected) {
            $.ajax({
                url: '@Url.Action("AddBookToList", "ListOfBooks")', // Ruta de tu acción en el controlador
                type: 'POST',
                data: {
                    idList: IdList,
                    idBook: @Model.idBook
                },
                success: function () {
                },
                error: function () {
                    document.getElementById('checkboxList' + IdList).checked = false;
                    alert('Hubo un error al ejecutar la función.');
                }
            });
        }
        else 
        {
            $.ajax({
                url: '@Url.Action("DeleteBookToList", "ListOfBooks")', // Ruta de tu acción en el controlador
                type: 'POST',
                data: {
                    idList: IdList,
                    idBook: @Model.idBook
                    },
                success: function () {
                },
                error: function () {
                    document.getElementById('checkboxList' + IdList).checked = true;
                    alert('Hubo un error al ejecutar la función.');
                }
            });
        }
    }

</script>
<div id="ViewPartial">
@if(Model.ListOfBooks!=null)
{
    <div class="modal popup">
        <div class="modal-content popup-content">
            <div class="modal-header popup-header">
                Añadir libro a lista:
                <button class="btn-close close" onclick="HidePartial()"></button>
            </div>
            <div class="modal-body popup-body">
                @foreach (ListOfBooksViewModel listOfBooks in Model.ListOfBooks)
                {
                    <input id="checkboxList@(listOfBooks.IdListOfBooks)" class="form-check-input" type="checkbox" onclick="ActionPartial(@listOfBooks.IdListOfBooks,this.checked)" @(Exist(listOfBooks)?"checked":null)>
                    <label class="form-check-label">
                        @listOfBooks.ListName
                    </label>
                }
            </div>
            <button class="btn btn-primary" onclick="AddNewListOfBooks()">Añadir lista</button>
        </div>
    </div>
}
else
{
    <div>Sin Modelo</div>
}
</div>